nav {
  text-align: center;
}

.box {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 1rem;
}

.card {
  border-width: 0;
  padding: 1rem;
  margin: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0rem;
  padding-left: 0rem;
}

.btn:focus {
  background-color: #F68B1F;
  border-color: white;
  color: white;
}

.btn:hover {
  background-color:rgb(247, 192, 40);
  color:white;
}

.btn{
  background-color: #F68B1F;
  border-color: white;
  color: white;
}

.nav-link {
  color:white;
}