body {
    background-color: black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: darkgray;
    padding: 10px;
}

.box {
    text-align: center;
    width: calc(33.3333333% - 20px);
    height: 200px;
    background-color: blue;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

#big-block {
    width: calc(66.6666666% - 20px);
}