.box {
    width: 200px;
    height: 200px;
    border: 1px solid;
    bottom: 0px;
    right: 0px;
    position: absolute;
}

.box-medium {
    width: 150px;
    height: 150 px;
    position: absolute;
    top: 25 px;
    left: 25px;
}

.boxsmall {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 50px;
}